@(message: String)

@main("Photobooth") {

        <span id="info" class="info info-hidden">@message</span>

        @*TODO aperçu des photos des déjà prises? *@

        <div class="buttons">
            <a class="iphoto" href="@routes.Application.livreDOr()">
                <img src="@routes.Assets.at("images/photo-icon.png")" height="45px">
            </a>
        </div>


        <script >
            var info = "@message";
            if(info !== "" ){
               window.setTimeout(function (){
                    document.getElementById("info").classList.add("info-show");
               }, 10);
               window.setTimeout(function (){
                    document.getElementById("info").classList.remove("info-show");
                }, 2000);
            }
            document.getElementsByClassName("iphoto")[0].focus();

        </script>

}
