@(photoForm: play.data.Form[model.Photo])

@main("Livre d'or"){


    <div>
        <img class="cadre" src="@routes.Assets.at("images/cadre.jpg")"/>
        <img id="photo" src="@routes.Application.getTmpImage()" alt="screencapture"/>
    </div>

    <form action=@routes.Application.submitForm() method="post">
        <div class="random-message">
            <i>Jolie photo non ? Dommage pour la grimace...</i>
        </div>
        <div id="form-title">
            <i>Une petite signature ?</i>
        </div>
        <div>
            <div>
                <label for="author">Nom</label>
                <input required type="text" id="author" name="author"/>
            </div>

            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email"/>
            </div>

            <div>
                <label for="message">Message</label>
                <textarea name="message" id="message" ></textarea>
            </div>
        </div>
        <a class="button" href="@routes.Application.livreDOr()" onclick="timer()">Prendre une autre photo</a>
        <a class="button" href='@routes.Application.index("photo annulée")'>Annuler</a>
        <div>
            <button class="button" type="submit">Valider</button>
        </div>
    </form>


}
